body {
  background-color: black;
  margin: 0;
}
button,
span {
  height: 80px;
  line-height: 80px;
  width: 80px;
  font-size: 2em;
  font-weight: bold;
  border-radius: 50px;
  text-align: center;
  cursor: pointer;
}

.row {
  width: 100%;
}
.container {
  width: 400px;
  /* background-color: white; */
}
.total {
  color: white;
  font-size: 4em;
  text-align: left;
  width: 100%;
}
.large-dark-btn {
  /* padding: 50px; */
  width: 10vw;
  border-radius: 55%;
  background-color: #464950;
  color: white;
  border-color: #464950;
}
.dark-btn {
  background-color: #464950;
  color: white;
  border-color: #464950;
}

.grey-btn {
  background-color: #afadac;
  color: black;
}

.orange-btn {
  background-color: #e87a06;
  color: white;
  border-color: #e87a06;
}
